<div class="palm-page-header">
    <div class="palm-page-header-wrapper">
        <div class="icon mini-icon"></div>
        <div class="title">豆瓣音乐 频道配置</div>             
    </div>
</div>

<div class="palm-group">
    <div class="palm-group-title"><span>请选择你想听的频道</span></div>
        <div class="palm-list">
			<div class="palm-row first" x-mojo-tap-highlight="momentary">
				<div class="palm-row-wrapper">
					<div id="commotionSelector" x-mojo-element="ListSelector"></div>
				</div>
			</div>        
		</div>
    </div>
</div>