/* TODO: put your application-specific CSS here */
.topbar {
	background-image: url(../images/playbar_bg.png);
}

.left {
	width: 100%;
	height: 60px;
	background-repeat: no-repeat;
	background-position: 20px 0px;
}

.right {
	width: 100%;
	height: 60px;
	background-repeat: no-repeat;
	background-position: 3px 0px;
}

.left.play {
	background-image: url(../images/play_button.png);
}

.left.play.selected {
	background-image: url(../images/play_button_pressed.png);
}

.left.pause {
	background-image: url(../images/pause_button.png);
}

.left.pause.selected {
	background-image: url(../images/pause_button_pressed.png);
}

.right.next {
	background-image: url(../images/next_button.png);
}

.right.next.selected {
	background-image: url(../images/next_button_pressed.png);
}

.reset {
	width: 86px;
	height: 38px;
	background-repeat: no-repeat;
	background-position: center 5px;
}

.reset.button {
	background-image: url(../images/reset.png);
}

.reset.button.selected {
	background-image: url(../images/reset-select.png);
}

.reset.clear {
	background-image: url(../images/clear.png);
}

reset.clear.selected {
	background-image: url(../images/clear-select.png);
}

.loading {
	
}

.title.item {
	background-image: url(../images/dot.png);
	background-repeat: no-repeat;
	background-position: 20px 16px;
	width: 100%;
	font-size: 16px;
	font-weight:600;
	padding-left: 35px;
}

.title.item.select {
	background: #FFD133;
}